{% extends "base.html" %}
{% block title %}Сбосить пароль{% endblock %}
{% block content %}
    <h1>Сбосить пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому что
             уже был использован. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}